.routes_wrapper {
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 90%;
    margin: auto;
    max-width: 900px;
}


.route-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    height: 50px;
    padding: 0px 3%;
    border-radius: 10px;
    background-color: #ECECEC;
}

.route-block[class*="open"] {
    flex-direction: column;
    height: 260px;
}

.route-block__number {
    color: #8F8F8F;
    font-size: 24px;
    font-family: 'Roboto Flex', sans-serif;
    
    @media (min-width: 1000px) {
        font-size: 20px;
    }
}

.route-block__number[class*="open"] {
    position: absolute;
    top: 7px;
    left: 7px;
}

.route-block__title {
    font-weight: normal;

    @media (min-width: 1000px) {
        font-size: 20px;
    }
}

.route-block__title[class*="open"] {
    font-size: 20px;

    @media (min-width: 1000px) {
        font-size: 24px;
    }
}

.route-block__link {
    color: var(--color-white);
}

.route-block__image {
    display: none;
    position: absolute;
}

.route-block__image[class*="open"] {
    display: block;
    position: relative;
    max-width: 90%;
    max-height: 165px;
    border-radius: 20px;
}

.route-block__button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    border-radius: 20px;
    background-color: #0077FF;
    padding: 8px 15px;
}

.route-block__button[class*="open"] {
    width: 90%;
    padding: 8px 0px;
}