@font-face {
    font-family: "Inter";
    src: url("assets/fonts/static/Inter-Light.ttf");
    font-weight: light;
    font-style: normal;
}

*, *::before, *::after {
    margin: 0px;
}

:root {
    --color-black: black;
    --color-white: white;
    --color-gray: #CDCDCD;

    --color-telegram: #2AABEE;
    --color-vkontakte: #0077FF;
}

.light-blue {background-color: #C1E0FD;}
.light-green {background-color: #DAFFCD;}
.light-yellow {background-color: #FFF8BE;}
.light-orange {background-color: #FFCF86;}
.color-vkontakte {color: var(--color-vkontakte)}
.color-telegram {color: var(--color-telegram)}


body {
    font-family: 'Inter', sans-serif;

    font-size: 32px;
    @media (min-width: 1000px) {
        font-size: 17px;
    }
}

h1 {
    font-size: 20px;
    font-weight: normal;

    @media (min-width: 1000px) {
        font-size: 64px;
    }
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;

    @media (min-width: 1000px) {
        font-size: 32px;
    }
}

.no-link {
    text-decoration: none;
    color: var(--color-black);
}

.white-text {
    color: var(--color-white);
}

img {
    width: 100%;

    @media (min-width: 1000px) {
        width: auto;
    }
}

header  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;

    @media (min-width: 1000px) {
        display: none;
    }
}

.wrapper {
    width: 95%;
    margin: auto;

    @media (min-width: 1000px) {
        width: 1200px;
    }
}


.day-place {

}

.day-place__image img {
    width: 100%;
    border-radius: 20px;

    @media (min-width: 1000px) {
        width: auto;
        max-height: 300px;
    }
}


.day-place__inner-container {

}


.chips-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px
}

.chips-container::-webkit-scrollbar {
    width: 0;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 49px;
    min-width: 146px;
    font-size: 20px;
    border-radius: 15px;
}

.title-container {
    display: flex;
    justify-content: center; 
}


.category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container-all {
    display: none;
    color: var(--color-gray);
    
    @media (min-width: 1000px) {
        display: inline;
        font-size: 20px;
    }
}



.places-list {
    /* По умолчанию настройки под телефон */
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
        /* Адаптации под компьютер */
        flex-shrink: 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}

.places-list::-webkit-scrollbar {
    width: 0;
}


.place-card {
    @media (min-width: 1000px) {
        min-width: 400px;
    }
}

.place-card__image {
    width: 100%;
    border-radius: 20px;
}




hr {    
    color: var(--color-gray);
    margin-top: 30px;
    margin-bottom: 10px;
}


.footer-inner {
    display: flex;
    justify-content: space-between;
}


.social-media {
    list-style: none;
    padding-inline-start: 0px;
}

.social-media__item > img, li {
    width: 40px;
    height: 40px;
    display: inline;

    @media (min-width: 1000px) {
        width: 40px;
        height: 40px;
    }
}
