@font-face {
    font-family: "Inter";
    src: url("assets/fonts/static/Inter-Light.ttf");
    font-weight: light;
    font-style: normal;
}


*, *::before, *::after {
    margin: 0px;
}


:root {
    --color-black: black;
    --color-white: white;
    --color-gray: #CDCDCD;

    --color-telegram: #2AABEE;
    --color-vkontakte: #0077FF;
}


.light-blue {background-color: #C1E0FD;}
.light-green {background-color: #DAFFCD;}
.light-yellow {background-color: #FFF8BE;}
.light-orange {background-color: #FFCF86;}
.color-vkontakte {color: var(--color-vkontakte)}
.color-telegram {color: var(--color-telegram)}


/*.name {
    По умолчанию настройки под телефон

    @media (min-width: 1000px) {
        Адаптации под компьютер     
    }
*/


/* Default elements */
body {
    font-family: 'Inter', sans-serif;

    font-size: 17px;
    @media (min-width: 1000px) {
        font-size: 24px;
    }
}

h1 {
    font-size: 20px;
    font-weight: normal;

    @media (min-width: 1000px) {
        font-size: 64px;
    }
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;

    @media (min-width: 1000px) {
        font-size: 32px;
    }
}


a {
    text-decoration: none;
    color: var(--color-black);
}

img {
    width: 100%;

    @media (min-width: 1000px) {
        width: auto;
    }
}
/* End of default elements */



header  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    height: 50px;

    @media (min-width: 1000px) {
    }
}


.wrapper {
    width: 95%;
    margin: auto;

    @media (min-width: 1000px) {
        width: 1200px;
    }
}



/* Place of the day */
.day-place {

}

.day-place__image img {
    width: 100%;
    border-radius: 20px;

    @media (min-width: 1000px) {
        width: auto;
        max-height: 300px;
    }
}


.day-place__inner-container {

}
/* Place of the day */



/* Design system elements */
.chips-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px
}
.chips-container::-webkit-scrollbar {
    width: 0;
}
.chip {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 49px;
    font-size: 20px;
    min-width: 146px;
    border-radius: 15px;
}

.button-black {
    color: var(--color-white);
    background-color: var(--color-black);

    height: 52px;
    min-width: 300px;
    border-radius: 15px;
}
.button-black:hover {
    cursor: pointer;
    background-color: var(--color-gray);
    font-style: bold;
}

.capsule-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    padding: 8px 15px 8px 15px;

    color: var(--color-black);
    background-color: var(--color-white);

    @media (min-width: 1000px) {
        /* Адаптация под телефон */

        border-radius: 20px;
        padding: 4px 10px 4px 10px;
    }
}
/* End of design system elements  */



.category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container-all {
    display: none;
    color: var(--color-gray);
    
    @media (min-width: 1000px) {
        display: inline;
        font-size: 20px;
    }
}



.places-list {
    /* По умолчанию настройки под телефон */
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
        /* Адаптации под компьютер */
        flex-shrink: 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}

.places-list::-webkit-scrollbar {
    width: 0;
}


.place-card {
    @media (min-width: 1000px) {
        min-width: 400px;
    }
}

.place-card__image {
    width: 100%;
    border-radius: 20px;
}


hr {    
    color: var(--color-gray);
    margin-top: 30px;
    margin-bottom: 10px;
}


.footer-inner {
    display: flex;
    justify-content: space-between;
}


.social-media {
    list-style: none;
    padding-inline-start: 0px;
}

.social-media__item > img, li {
    width: 40px;
    height: 40px;
    display: inline;

    @media (min-width: 1000px) {
        width: 40px;
        height: 40px;
    }
}


/* PLACE STYLES */

.work-time-container {
    gap: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;


    position: absolute;
    right: 40px;
    bottom: 25px;

    @media (max-width: 1000px) {
        right: 12px;
        bottom: 8px;
    }
}

.place-title-container {
    display: flex;
    justify-content: center;
    
    
    width: 100%;
    bottom: 25px;
    position: absolute;
}

.place-title-container__text {
    font-size: 40px;
    color: var(--color-white);

    @media (max-width: 1000px) {
        font-size: 30px;
        content: "Terra Coffe";
    }
}


.place-image-container {
    position: relative;
}

.place-image-container__image {
    z-index: -1;
    width: 100%;
}

.place-information {
    z-index: 2;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-white);
    
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;

    padding-left: 20px;
    padding-right: 20px;
}

.place-description {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 25px;
    background-color: var(--color-gray);
}


.button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    
    left: 33px;
    top: 20px;
    position: absolute;

    width: 67px;
    height: 46px;
    border-radius: 20px;
}
/* PLACE STYLES */