@font-face {
    font-family: 'Roboto';
    src: local(Roboto light), local(roboto-light),
        url('/fonts/roboto-light/roboto-light.ttf') format('ttf'),
        url('/fonts/roboto-light/roboto-light.woff') format('woff'),
        url('/fonts/roboto-light/roboto-light.woff2') format('woff2');
    font-weight: lighter;
}

@font-face {
    font-family: 'Roboto';
    src: local(Roboto Regular), local(roboto-regular),
        url('/fonts/roboto-regular/roboto-regular.ttf') format('ttf'),
        url('/fonts/roboto-regular/roboto-regular.woff') format('woff'),
        url('/fonts/roboto-regular/roboto-regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local(Roboto Bold), local(roboto-bold),
        url('/fonts/roboto-bold/roboto-bold.ttf') format('ttf'),
        url('/fonts/roboto-bold/roboto-bold.woff') format('woff'),
        url('/fonts/roboto-bold/roboto-bold.woff2') format('woff2');
    font-weight: bold;
}

* {
    margin: 0px;
}


:root {
    --color-black: black;
    --color-gray: #5E6278;
    --color-white: white;

    --color-background: #F5F8FA;

    --color-telegram: #2AABEE;
    --color-vkontakte: #0077FF;

    --color-light-blue: #C1E0FD;
    --color-light-green: #DAFFCD;
    --color-light-yelow: #FFF8BE;
    --color-light-orange: #FFCF86;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
}

/* .wrapper {
    margin: auto;
    border: solid red 1px;

    @media (min-width: 700px) {
        width: 60%;
    }
} */

/* EVENT CARD */
.event-card {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.event-card__img {
    box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;
    -webkit-box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;
    -moz-box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;

    object-fit: cover;
    height: 100%;
    margin: auto;
}

.event-card__bottom-part {
    height: 20px;
    width: 100%;

    color: var(--color-white);
    background-color: var(--color-black);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;
}
/* EVENT CARD */

.events-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    /* justify-content: space-between; */
}


/* EVENT PAGE */
.event-page {

}

.event-page__img {
    height: 250px;
}

.event-page__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
    
    @media (min-width: 1000px) {
        font-size: 60px;
    }
}

.event-page__description {
    font-weight: lighter;

    @media (min-width: 700px) {
        max-width: 60%;

    }
}


/* ORGANIZATOR CARD */

.organizator-card {
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}