@font-face {
    font-family: "Roboto", sans-serif;
    src: local(Roboto light), local(roboto-light),
        url('/public/fonts/roboto-light/roboto-light.ttf') format('ttf'),
        url('/fonts/roboto-light/roboto-light.woff') format('woff'),
        url('/fonts/roboto-light/roboto-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: local(Roboto Regular), local(roboto-regular),
        url('/fonts/roboto-regular/roboto-regular.ttf') format('ttf'),
        url('/fonts/roboto-regular/roboto-regular.woff') format('woff'),
        url('/fonts/roboto-regular/roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: local(Roboto Bold), local(roboto-bold),
        url('/fonts/roboto-bold/roboto-bold.ttf') format('ttf'),
        url('/fonts/roboto-bold/roboto-bold.woff') format('woff'),
        url('/fonts/roboto-bold/roboto-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

* {
    margin: 0px;
}


:root {
    --color-black: black;
    --color-gray: #5E6278;
    --color-white: white;

    --color-background: #F5F8FA;

    --color-telegram: #2AABEE;
    --color-vkontakte: #0077FF;

    --color-light-blue: #C1E0FD;
    --color-light-green: #DAFFCD;
    --color-light-yelow: #FFF8BE;
    --color-light-orange: #FFCF86;

    --color-yellow: #F2BB05;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
}

/* .wrapper {
    margin: auto;
    border: solid red 1px;

    @media (min-width: 700px) {
        width: 60%;
    }
} */

/* EVENT CARD */
.event-card {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.event-card__img {
    box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;
    -webkit-box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;
    -moz-box-shadow: 0px -45px 54px -31px rgba(0,0,0,0.62) inset;

    object-fit: cover;
    height: 100%;
    margin: auto;
}

.event-card__bottom-part {
    height: 20px;
    width: 100%;

    color: var(--color-white);
    background-color: var(--color-black);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;
}
/* EVENT CARD */

.events-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


/* EVENT PAGE */
.event-page {
    position: relative;

    @media (max-width: 700px) {
        
    }
}

.event-page__img {
    height: 250px;
}

.event-page__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
    
    @media (min-width: 1000px) {
        font-size: 60px;
    }
}

.event-page__description {
    @media (min-width: 700px) {
        max-width: 60%;

    }
}

.event-page__buttons {
    margin-top: 1rem;
}


/* ORGANIZATOR CARD */

.organizator-card {
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 10px;
    
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
}

.organizator-card__description {
    font-weight: 300;
}

.organizator-card__image {
    width: 50px;
    height: 50px;
}




.main__content {
    max-width: 600px;
}

.main__title {
    font-size: 64px;
}

.button-primary {
    border-radius: 8px;
    width: 200px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: black;

    
    @media (min-width: 1200px) {
        font-weight: bol    d;
        font-size: 20px;
        width: 340px;
        height: 60px;
    }
}

.primary-color {
    color: var(--color-yellow);
}



.tag-container {
    padding: 3px 10px;
    border-radius: 50px;
}